body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.name-color{
    color:chartreuse
}
section{
    display: flex;
}
section div{
    width: 50%;
}
.half-width{
    position: relative;
    width:50%;
    padding-left: 5%;
}
.resume-img{
    width: 450px;

  

}
.half-width img{
    width:100%
}
.p-4{
    padding-left: 40px;
}
.link-button{
    text-decoration: none;
    /* background-image: -moz-linear-gradient(orange,tomato); */
    background-color: tomato;
    padding:10px 40px;
    border:5%;
    color: white;


}

.banner{
    background-image: url('photo/b6.jpg');

    /* background-repeat: no-repeat; */
    background-size: 100%;
    background-position:inherit;
}

.text-light{
    color: white;
}
.heading{
    font-size: 50px;
}
.hedding-color{
     color:white;
}
.add{
    border:50px solid rgb(240, 13, 13);
    border-radius:10px ;
    font-size: 30px;
    margin: 10px;
    text-align:justify;
    padding:15px;
}
.hedding-font-size{
    font-size: 60px;
    color:white;
    text-align: center;
    background-color:rgb(255, 0, 85);
    padding: 25px;
}